body{
    font-family: 'Merriweather', serif;
}
/* Définition du titre */
.title{
    text-align: center;
    margin-left: 8%;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
}
/* Définition des drapeaux pour le choix de langue */
.drapeau{
    float: right; 
    margin: 5px;
    width: 40px;
    height: 25px;
    margin-top: 15px;
}
/* Définition de la navbar */
nav ul li{
    margin: 0 50px; 
}
.nav-link {
    text-align: center;
    font-size: 110%;
    outline: none;
}
.navbar{
    border-radius: 12px;
}
.hover :hover {
    color: #EB520F;
    transform: scale(1.2);
    z-index: 1000;
}
/* Définition de la flèche pour remonté en haut */
#rideUp{
    outline-style: none;
    float: right;
}
/* Définition des images de présentation */
.img{
    text-align: center;
    margin-top: 20px;
}
/* Définition image association */
.assoc{
    height: 200px;
    width: 700px;
}
/* Définition du texte d'introduction du site */
.intro{
    margin-top: 2%;
    text-align: center;
    color: black;
    font-family: 'Playfair Display', serif;
}
.introIpl{
    font-size: 80px;
}
.introTeach{
    font-size: 50px;
}
hr{
    display: block;
    width: 40%;
    background-color: black;
    margin-top: -15px;
    height: 2px;
    border-radius: 5px;
}
/* Définition de la présentation de l'association et des intervenants */
.presentations{
    margin-top: 10px;
    color: #404143;
    font-weight: bold;
}
/* Définition de l'image derrière la navbar */
.picture{
    background-image: url(../img/amiens1.jpg);
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 135%;
}
/* Définition de la catégorie prix */
.construct{
    height: 150%;
    width: 75%;
}
.information{
    text-align: center;
}
/* Définition du formulaire de contact */
.contact{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 2%;
}
/* Couleur de fond en gris */
.color{
    background-color: #343A40;
}
/* Définition de la structure du formulaire de contact */
#contact {
    background: #F9F9F9;
    padding: 15px;
    margin-top: 10px;
    border-radius: 12px;
}
/* Définition de la police des champs du formulaire de contact */
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    font: 12px "Roboto";
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}
/* Définition du champ textarea du formulaire de contact */
#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}
/* Définition du boutton du formulaire */
#contact button[type="submit"] {
    cursor: pointer;
    border: none;
    background: grey;
    color: #FFF;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 50%;
    margin-left: 75%;
}
/* Message d'erreur en rouge*/
.error {
    color: red;
}
/* Info bulle pour le mot de passe */
/* On affiche en ligne la div contenant l'input et le texte */
div#infobulle {
    display: inline;
}
/* Mais on cache le texte */
div#infobulle ul {
    display: none;
}
/* Et au survol de la partie visible de l'input, on affiche le texte */
div#infobulle:hover ul {
    display: block;
    width: 250px;
    height: auto;
    padding: 5px;
    position: absolute;
    border: 2px solid black;
    margin: 1px auto auto -260px;
    background: #343A40;
    color: white;
    border-radius: 6px;
    font-size: 13px;
    list-style:none;
}
/* Définition de la couleur au survol du boutton du formulaire de contact */
#contact button[type="submit"]:hover {
    background: black;
}
/* Emplacement de google map */
.map{
    float: left;
    margin-top: 1%;
}
/* Définition du "titre" des informations de contact */
.Ipl{
    font-weight: bold;
    color: white;
}
.renseignement{
    color: white;
}
/* Définition du formulaire d'inscription */
.loginhere {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777;
}
.form-title {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}
/* Définition de la structure du formulaire d'inscription */
.signup-content {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 50px 85px; 
}
.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}
/* Définition de la phrase en bas du formulaire d'inscription */
.loginHere {
    color: #555;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
}
.loginHere-link {
    font-weight: 700;
    color: #222;
}
.signup-content{
    margin-top: 2%;
    margin-bottom: 2%;
}
/* Définition du formulaire de connexion */
/* Bordered form */
.loginForm {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5%;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:4%;
}
.errorConnect{
    font-size: 15px;
}
/* Fait disparaître les titres */
.menuMobile {
    display: none;
}
.titleMobile{
    display: none;
}
.teachIntro{
    display: none;
}
.hrMobile{
    display: none;
}
.pictureResponsive{
    display: none;
}
/* Responsive */
@media screen and (max-width: 700px){
    .menuMobile {
        display: block;
    }
    .title{
        display: none;
    }
    .titleMobile{
        display: block;
        font-style: italic;
        font-family: 'Playfair Display', serif;
        color: white;
        background-color: black;
        z-index: 100;
    }
    .introIpl{
        display:none;
    }
    .assoc{
        height: 200px;
        width: 300px;
    }
    .introTeach{
        display: none;
    }
    .teachIntro{
        display: block;
        font-size: 20px;
        text-align: center;
        color: white;
        background-color: black;
    }
    hr{
        display: none;
    }
    .hrMobile{
        display: block;
        width: 85%;
        background-color: black;
        margin-top: -15px;
        border-radius: 5px;
    }
    .picture{
        background-image: url(../../assets/img/cathedrale.png);
        display: block;
        background-color: black;
        position: relative;
        z-index: 8;
        background-size: 100%;
    }
    .signup{
        background-color: black;
    }
    .container-fluid{
        background-color: black;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .signup-content {
        padding: 50px 25px;
    }
}